<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>PLN - UFABC</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <img src="https://cdn.glitch.global/65aa595a-63fe-47eb-9022-2be8ed6aec1c/ufabc-logo.png?v=1659737288812" width="150">
      <h1>Disciplina de Processamento de Linguagem Natural</h1>
      <h2>Contribuidores: Fabricio Gaeta, Fernando Machado, Vinicius Aquino</h2>
      <h3>Chatbot com Dialogflow</h3>
    </header>

    <iframe
      allow="microphone;"
      width="650"
      height="350"
      src="https://console.dialogflow.com/api-client/demo/embedded/e9ba7c94-c272-4c72-afc6-c73b8861353c"
    >
    </iframe>

  </body>
</html>
